name = "inventory"
main = "src/worker.ts"
compatibility_date = "2025-01-05"
workers_dev = true

# Production route: bar.streeter.cc/api/*
routes = [
  { pattern = "bar.streeter.cc/api/*", zone_name = "streeter.cc" }
]

[[d1_databases]]
binding = "DB"
database_name = "streetersdistillery_inventory"
database_id = "a8d583e8-faa0-43b2-97a7-8b600919fe99"

# Uncomment if you add R2 later for images
#[[r2_buckets]]
#binding = "IMAGES"
#bucket_name = "streetersdistillery-images"
